{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1 class="title">Home</h1>
<section class="alojamientos">
    <article class="card col-lg-2 col-md-3 col-sm-2">
        <div>
            <img src="{% static 'images/hoteles.jpg' %}" alt="Hoteles" class="img-alojamiento">
        </div>
        <h3 class="tipo-alojamiento">Hoteles</h3>
    </article>
    <article class="card col-lg-2 col-md-3 col-sm-2">
        <div>
            <img src="{% static 'images/departamentos.jpg' %}" alt="Departamentos" class="img-alojamiento">
        </div>
        <h3 class="tipo-alojamiento">Departamentos</h3>
    </article>
    <article class="card col-lg-2 col-md-3 col-sm-2">
        <div>
            <img src="{% static 'images/resorts.jpg' %}" alt="Resorts" class="img-alojamiento">
        </div>
        <h3 class="tipo-alojamiento">Resorts</h3>
    </article>
    <article class="card col-lg-2 col-md-3 col-sm-2">
        <div>
            <img src="{% static 'images/villas.jpg' %}" alt="Villas" class="img-alojamiento">
        </div>
        <h3 class="tipo-alojamiento">Villas</h3>
    </article>
</section>
{% endblock %}